<h1 class="text-center"><%= I18n.t('show.title') %></h1>

<%= bootstrap_form_for(@game, data: { turbo: false }) do |f| %>
  <!-- Display error messages globally (for any errors on the post) -->
  <div class="alert alert-danger <%= @game.errors.any? ? '' : 'd-none' %> ">
    <h4><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h4>
    <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <%= f.email_field :email %>
  <%= f.text_field :name %>
  <%= f.number_field :width, min: 1, placeholder: 'Enter Width' %>
  <%= f.number_field :height, min: 1, placeholder: 'Enter Height' %>
  <%= f.number_field :number_of_mines, min: 1, placeholder: 'Enter Number of Mines' %><br/>
  <%= f.submit I18n.t('show.submit_btn'), class: 'btn btn-primary' %>
<% end %>
